$primaryColor: #f4ab40;
$brandFont: 'Kurale', serif;
html, body{
  height: 100%;
}
body {
  background: url('http://res.cloudinary.com/mc-cloud/image/upload/c_scale,q_auto:best,w_1659/v1512582575/question-mark-2492009_mkpfr1.png');
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: $primaryColor;
}

#buttons {
  padding-top: 50vh
}
.landing-buttons {
  color: $primaryColor;
  background: white;
  font-weight: bold;
  margin: 1.66%
}

.landing-buttons:hover {
  color: white;
  background-color: $primaryColor;
  border: 1px solid white
}

div, body{
  margin: 0;
  padding: 0;
}

.brand-logo {
  font-family: $brandFont
}

header, main, footer {
  padding-left: 300px;
}

#password-page {
  padding-left: 0;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.idea-form {
  color: black
}

.red-text {
  cursor: pointer;
}

.show-ideas {
  height: 100vh;
  overflow: auto;
  bottom: 0;
}

.idea-page {
  min-height: 100vh;
  background-image: url(http://res.cloudinary.com/mc-cloud/image/upload/v1512836238/sand-2005066_1920_pz8auo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  #set-color {
    color: $primaryColor
  }

}

  #logout-button {
    padding-left: 15vh
  }
  .previous {
    border: 1px solid white;
    color: $primaryColor;
    cursor: pointer;
  }

  #one-idea {
    background: white
  }

  .next {
    border: 1px solid white;
    color: $primaryColor;
    cursor: pointer;
  }

  .pagination li a {
    cursor: pointer;
  }

  .edited {
    padding-left: 2%
  }

  .card.medium {
    height: 250px;
}

.comment {
  position: fixed;
  width: 69%;
  top: 87%
}

.show-comments {
  height: 40vh;
  overflow: auto;
}

#center {
  border: 2px solid white;
  border-radius: 10%;
  background: white;
  color: black;
  width: 100%;
  margin: 2% auto;
  height: 20%
}

.password-body {
  padding: 5%
}

.forgot-password {
  background: white;
  height: 50vh;
  margin-top: 10%;
  margin-left: 25%;
  width: 50vw
}

.form {
  padding: 5%; 
  padding-top: 10%;
}

.description {
  max-height: 50%;
  overflow: auto
}

  #edit {
    padding: 5%
  }
